/* ESTILOS GENERALES */
@import-normalize;
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.active {
    border-bottom: 2px solid white;
}
/* ESTILOS HEADER */
.header {
    background-color: #002973;
    min-width: 100%;
    padding: 0.5rem 0;
    display: flex;
    height: 70px;
}
/* ESTILOS LINKS */
.navLinks {
    text-decoration: none;
    color: white;
}

h1,
h2,
h3 {
    text-align: center;
}
input {
    outline: none;
    border: 0;
}
